.user-chart {
  display: flex;
  align-items: center;
  /* justify-content: space-between; */
  background-color: azure;
  padding: 2% 4%;
  cursor: pointer;
}

.user-chart img {
  width: 20%;
  height: 20%;
  height: auto;
  border-radius: 50%;
  padding: 2%;
  margin: 1%;
}

.user-chart-info {
  margin: 1%;
  padding: 1%;
}
.user-chart-info h2,
.user-chart-info p {
  margin: 0;
}
