.password-reset-container {
  /* background-color: aliceblue; */
  padding: 2%;
}

.password-reset-form-container {
  padding: 1% 2%;
  border: 2px solid gray;
  border-radius: 5px;
}
.input-large {
  font-size: 18px;
  padding: 10px;
  /* margin-bottom: 10px; */
}
.password-reset-form-container input {
  width: 95%;
  outline: none;
  border-radius: 5px;
}
.password-reset-form-container input:hover {
  border: 2px solid blue;
}
.password-reset-form-container span {
  color: red;
}
.password-reset-instructions {
  padding: 4%;
  background-color: aliceblue;
  border-bottom-right-radius: 64px;
}
.password-reset-instructions p {
  margin: 1%;
  line-height: 150%;
  letter-spacing: 120%;
  font-size: 1.2rem;
}
.password-reset-instructions p::before {
  content: "•";
  color: blue;
  padding: 1%;
}
.password-reset-buttons button {
  padding: 1% 2%;
  margin: 1%;
  border-radius: 5px;
  background-color: blue;
  font-size: 1rem;
  outline: none;
  color: #fff;
  border: 0;
  font-weight: 500;
}
.password-reset-buttons button {
  opacity: 0.8;
}
.password-reset-buttons button:active {
  border: #a6a1ff;
  color: #a6a1ff;
  background-color: #fff;
}
